 /* Header */
 main.p{
    background-color: rgb(129, 150, 158);
    display: flex;
     justify-content: space-between;
     align-items: center;
 }
h1,h2,p {
    color: rgb(1, 10, 24);
    text-align: center;
    font-style: italic;
}
nav a{
    display:-ms-flexbox;
    border: 2px;
    padding: 8px;
    color: rgb(3, 0, 10);
    font-size:large;
    text-decoration: none;
}
nav a:hover{
    text-decoration: none;
    font-weight: bold;
}
.logo {
    height: 80px;
    width: 80px;
    background-image: url(../assets/logo.png);
    background-size: cover;
    background-position: center;
}
.background {
    background-image: url(../assets/background.png);
}
.pembatas {
    background-color: aquamarine;
}
.wilayah{
    background-image: url(../assets/background.png);
    background-position: center;
    background-size: cover;
    height: 110px;
}
main{
    justify-self: unset;
}
img.foto{
vertical-align: middle;
}
footer {
    padding: 20px;
    color: white;
    background-color: #010e11;
    text-align: center;
  }